:root {
    --x1jha2zq: #e7fce3;		
    --x1p4o6i6: #d9fdd3;
    --x1vtkb83: #acfcac;
    --x1b3zegh: #71eb85;
    --x1jr5emx: #25d366;		
    --x1wtwio9: #21c063;
    --x5grthl: #1daa61;		
    --x4lewaw: #1b8755;		
    --x10lx82a: #15603e;		
    --xlcsxz2: #144d37;		
    --x5bl7d0: #103529;

    --active-tab-marker: #00a884;
    --attachment-type-stickers-color: #02a698;
    --audio-progress-incoming: #63cb77;
    --audio-progress-outgoing: #599389;
    --audio-track-outgoing: #176b5b;

    --green-deep: #1fa855;
    --green: #25d366;
    --pale-blue-green: #d5fded;
    --pale-green: #d9fdd3;
    --teal-light: #7ae3c3;
    --teal-lighter: #00a884;
    --teal: #008069;

    /* used colors */
    --teal: #008069;
    --highlight: #00a884;
    --outgoing-background: #005c4b;
    --WDS-green-450: #21c063;
    --unread-marker-background: #00a884;
    --outgoing-background-deeper: #025144;
}